<% if user_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% end %>
<br>
<%= link_to "Weather", weather_index_path %>
<h3>Users Data</h3>
<table>
  <thead>
    <th>e-mail</th>
    <th>created at</th>
    <th>last sign in at </th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.last_sign_in_at %></td>
      </tr>      
    <% end %>
  </tbody>
</table>
